
@{
    ViewBag.Title = "Xacnhan";
    Layout = "~/Views/Shared/_LayoutXacNhanDatXe.cshtml";
}
@*Khách hàng đả đặt xe thành công khi truy câp được trang xác nhận dặt thành công*@
<h2>Bạn đã đặt xe thành công</h2>